{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/contacts/main.css'%}">

    {% if title %}
        <title>Django Blog - {{ title }} </title>
    {% else %}
        <title>Home</title>
    {% endif %}
</head>
    {% block main %}{% endblock %}
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'contacts-home' %}">Django Contacts</a>
          <a class="nav-item nav-link" href="{% url 'contact-create' %}">Add Contact</a>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
</body>